# Python
__pycache__/
*.pyc
.venv/

# AWS / credentials
*.pem
.env

# Data / Figures
data/raw/*
!data/raw/sample_cloudtrail.json
!data/raw/sample_auth.log
data/processed/*
ssh_activity.png
cloudtrail_activity.png

# OS
.DS_Store
